<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
</head>
<body>

	<h1>Edit Todo</h1>
	<form method="post" action="/edit">
	    <input type="hidden" name="id" th:value="${todo.id}" />
	        <label for="task">Task:</label>
	        <input type="text"  id="task" name="task" th:value="${todo.task}" required />
	        <label for="deadLineDate">deadLineDate:</label>
	        <input type="date" id="deadLineDate" name="deadLineDate" th:value="${todo.deadLineDate}" required />
	        <label for="deadLineTime">deadLineTime:</label>
	        <input type="time"  id="deadLineTime" name="deadLineTime" th:value="${todo.deadLineTime}" required />
	    <button type="submit">Save</button>
	</form>
</body>
</html>
